<div class="container mt-10">
    <div class="row">
         <table class="table">
             <thead>
                 <tr>
                     <td>Stations</td>
                     <td>Haul</td>
                 </tr>
             </thead>
 
                 <tbody>
                     <%  @stations.each do |station| %>
                        <tr>
                            <td><%= station.name %></td>
                            <td><%= station.haul %></td>
                         
                            <td>
                                <%=link_to"Annuler STATION", station_path(station),method: :delete, class: "btn btn-danger btn-margin"%>
                                
                            </td>
                        </tr>
                      <% end %>
                   </tbody>
 
         </table>
 
         <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 