.custom-background{
    background-color: deepskyblue;
}


.home-tittle{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    font-size: 80px;
}

.airplus{
    font-size: 130px;
    margin-top: -50px;
}

.larger-image {
    transform: scale(1.2);
}

.bigmap{
    margin-left: 1150px;
}



