<div class="container mt-10">
   <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Aircraft type</td>
                    <td>Aircraft haul</td>
                </tr>
            </thead>

                <tbody>
                    <%  @aircrafts.each do |aircraft| %>
                    <tr>
                        <td><%= aircraft.acft %></td>
                        <td><%= aircraft.haul %></td>
                        <td>
                            <%=link_to"Annuler type avion", aircraft_path(aircraft),method: :delete, class: "btn btn-danger btn-margin"%>
                            
                        </td>
                    </tr>
                     <% end %>
                   
                </tbody>

        </table>

        <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 












   </div> 












</div>