<div class="container">
    <p> <strong>Type avion = </strong> <%= @aircraft.acft %></p>
    <p> <strong>Type haul = </strong> <%= @aircraft.haul %></p>
</div>
<span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 