<div class="container mt-10">
    <div class="row">
         <table class="table">
             <thead>
                 <tr>
                     <td>flights Ops</td>
                 </tr>
             </thead>
 
                 <tbody>
                     <%  @flights.each do |flight| %>
                     <tr>
                         <td><%= flight.registration.reg %></td>
                         <td>
                             <%=link_to"Annuler type avion", flight_path(flight),method: :delete, class: "btn btn-danger btn-margin"%>
                             
                         </td>
                     </tr>
                      <% end %>
                    
                 </tbody>
 
         </table>
 
         <span><%=link_to"Home",root_path,class: "btn btn-primary" %></span> 
 
