<div class="container">
    <p><strong>Registration:</strong> <%= @flight.registration.reg %></p>
    <p><strong>Aircraft type:</strong> <%= @flight.aircraft.acft %></p>

<span><%=link_to"Home",root_path,class: "btn btn-primary" %></span> 
</div>