<div class="container">
    <p> <strong>Acfts registration = </strong> <%= @registration.reg %></p>
    <p> <strong>Acfts haul = </strong> <%= @registration.haul %></p>
</div>
<span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
