<div class="container mt-10">

    <div class="row">

        <table class="table">

            <thead>
                <tr>
                    <td>Name</td>
                    <td>First name</td>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <% @customers.each do |customer| %>
                        <td><%= customer.name %></td>
                        <td><%= customer.first_name  %></td>
                    </tr>
                    <% end %>
                </tbody>

        </table>
        <span><%= link_to "Home", pages_airplus_path, class: "btn btn-primary" %></span>

    </div>

</div>
