<div class="container">
    <p> <strong>Name = </strong> <%= @customer.name %></p>
    <p> <strong>First name = </strong> <%= @customer.first_name %></p>
</div>
<span><%=link_to"Home",customers_new_path,class: "btn btn-primary" %></span> 
