<body class="custom-background">
    <div class="container text-center">
        <div class="row my-4">
            <div class="col">
                <p class="airplus">AIR PLUS </p>
                <p class="airplus">CUSTOMER PAGE </p>
            </div>
        </div>

        
        <div class="test">
            <span><%= link_to "Operations", pages_operations_path, class: "btn btn-primary" %></span>
            <span><%= link_to "Book flight", customers_book_path, class: "btn btn-primary" %></span>
            <span><%= link_to "Manage bookings", customers_list_path, class: "btn btn-primary" %></span>
        </div>
            
        </div>
    </div>
</body>
