<body class="custom-background">
        <div class="container">
              <div class="home-tittle">
                    <p class="airplus">AIR PLUS</p>
              </div>  
            
            <div class="B777"> 
                    <%= link_to image_tag("B777.jpeg"), pages_operations_path %>
            </div>
        </div> 
</body>