.bordered {
    border: 1px solid #000; /* Vous pouvez personnaliser la couleur et l'épaisseur de la bordure */
    padding: 10px; /* Vous pouvez ajuster la marge intérieure si nécessaire */
    background-color: darkgrey;
  }